Nav bar * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 5rem;
}
.logout-btn {
  color: red;
  background-color: #ffffff;

  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.4s ease;
  outline: none;
  overflow: hidden;
  font-weight: bold;
  padding: 1rem;
}
header h2 {
  color: white;
}
.title-desc {
  margin: 0 !important;
}

label {
  font-size: 1.25rem;
  font-weight: 500;
}
.right-section {
  position: relative;
}
.dropdown-user {
  position: absolute;
  top: 100%;
  right: 0.5rem;
  width: 11rem;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(125, 128, 129);
  border:3px solid black;
  z-index: 999;
}
hr {
  padding: 0;
  margin: 0.5rem 0;
}
.hidden {
  display: none;
}
.main-content {
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding-top: 0;
}
.bottom-section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.buttons {
  margin-top: 1rem;
}
.right-section > a {
  color: white;
  margin-right: 1rem;
  font-weight: 600;
}
#issue-image-label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#issue-image-label i {
  font-size: 4rem;
  color: #007bff;
}
#issue-image-label > p {
  font-size: 1rem;
  font-weight: 500;
}
.upload {
  border: 2px dashed #cbd5e1;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  background: #f8fafc;
  align-self: center;
}

.upload.dragover {
  border-color: #2563eb;
  background: #e0f2fe;
}
@media (max-width: 768px) {
  .upload {
    padding: 20px;
    align-self: center;
    margin-bottom: 1rem;
  }
  .bottom-section {
    flex-direction: column;
  }
  header {
    padding: 0.5rem 1rem;
  }
  .username {
    padding: 0.5rem 1rem;
  }
  #home {
    display: none;
  }
  .main-content {
    width: 80vw;
    padding: 2rem;
  }
}
@media (max-width: 480px) {
  .main-content {
    width: 90vw;
    padding: 1rem;
  }
  header {
    padding: 0 1rem;
  }
  .upload {
    width: 100%;
  }
  .username {
    font-size: 1rem;
  }
  header > h2 {
    font-size: 1rem;
  }
}

.home-btn {
  background-color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  transition: all 0.4s ease;
  outline: none;
  overflow: hidden;
  font-weight: bold;
  padding: 1rem;
}
.username {
  padding: 15px 30px;
  border: 2px solid #2c2c2c;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

@media (max-width: 768px) {
  .upload {
    padding: 20px;
    align-self: center;
    margin-bottom: 1rem;
  }
  .bottom-section {
    flex-direction: column;
  }
  header {
    padding: 0.5rem 1rem;
  }
  .username {
    padding: 0.5rem 1rem;
  }
  #home {
    display: none;
  }
}
@media (max-width: 480px) {
  header {
    padding: 0 1rem;
  }
  .upload {
    width: 100%;
  }
  .username {
    font-size: 1rem;
  }
  header > h2 {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .main-content {
    width: 60vw;
    padding: 1rem;
  }
}
@media (min-width: 1100px) {
  .main-content {
    width: 50vw;
  }
}
/* Disable interaction */
body.loading {
  pointer-events: none;
}

/* Fullscreen overlay */

.page-loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

/* show loader */
body.loading .page-loader {
  opacity: 1;
  visibility: visible;
}

/* center content */

.loader-content {
  text-align: center;
  font-family: sans-serif;
}

/* spinner */

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #e0e0e0;
  border-top: 5px solid #1565c0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

/* text */

.loader-content p {
  margin-top: 12px;
  font-weight: 600;
  color: #444;
}
#uploadBox {
  position: relative;
}
.issueImg {
  width: 50%;
}
/* animation */

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
