* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* Header styling  */
header {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  position: relative;
}

.navleft {
  margin-left: 2rem;
}
header i {
  color: white;
  font-size: 25px;
}
/* Mid section  */

.mid {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* left section */
.leftSection {
  display: flex;
}
.leftSection button {
  border: none;
  background-color: white;
  color: blue;
  margin-right: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}
.leftSection i {
  color: gray;
  font-size: 15px;
}
.headAcc {
  width: 6rem;
  display: flex;
  align-items: center;
}
.headAcc div {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headAcc div p {
  width: 70%;
  height: 70%;
  background-color: blue;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.headAcc i {
  margin: 0;
}
/* Add Issue btn  */
.addIssue-btn {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.leave-group-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  background-color: red;
  right: 22rem;
}
/* Main section  */
main {
  width: 100%;
  height: 110vh;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  height: 12vh;
  padding: 0 2rem;
}
.main-content {
  height: 88vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.mainleft {
  width: 55%;
  border: 3px solid black;
  height: 100%;
  overflow: hidden;
}
.mainright {
  width: 40%;
  border: 3px solid black;
  height: 100%;
}
/* Main left code section  */
.search {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.searchInp {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 60%;
  align-content: center;
  width: 80%;
  padding: 0 1rem;
}
.searchInp input {
  margin-left: 1rem;
  border: none;
  outline: none;
}
.search select {
  height: 60%;
  text-align: center;
  text-align: center;
  font-size: 1rem;
}
/* issues */
.issues{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
}
.issue-card{
  height: 12%;
 box-shadow: 0 0 1px gray;
  padding:1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-top:0.5rem
}
.issue-card i{
  font-size: 0.5rem;
  margin-top: 0.5rem;
}
.card-left{
  display: flex;
}
.card-content{
  margin-left: 1rem;
}
.badge{
  background-color: rgb(228, 228, 228);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  color: blue;
}
.issue-card:hover{
  border: 2px solid rgb(18, 39, 228);
}
.issue-card:hover .fa-circle{
  color:blue
}
/* right section code  */
